<div class="form-editor">
  <h2 class="header">FORMS AI</h2>
  <div class="ai-text-area">
    <mat-form-field appearance="outline">
      <mat-label>Please enter your form description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button color="primary">Add Question</button>
  </div>
  <div
    class="drop-area"
    cdkDropList
    id="formEditor"
    [cdkDropListData]="questions()"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (question of questions(); track $index) {
      <forms-ai-form-question
        cdkDrag
        [questionLabel]="question.label"
        [cdkDragData]="question"
        (deleteClicked)="deleteQuestion($index)"
      ></forms-ai-form-question>
    }
  </div>
</div>
