/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100vw;
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #faf9fd;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

mat-form-field {
  --mat-form-field-container-vertical-padding: 4px;
  --mat-form-field-container-height: 36px;
}

button.mdc-icon-button {
  --mdc-icon-button-state-layer-size: 30px;
}
