<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      @for (question of template.questions; track $index) {
        <div class="question-container">
          <label>{{ question.label }}</label>
          @switch (question.type) {
            @case (Types.TEXT) {
              <mat-form-field>
                <input
                  matInput
                  [formControlName]="question.id"
                  [placeholder]="question.placeholder ?? ''"
                  [defaultValue]="question.defaultValue ?? ''"
                  [required]="question.required ?? false"
                />
              </mat-form-field>
            }
            @case (Types.NUMBER) {
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  [formControlName]="question.id"
                  [placeholder]="question.placeholder ?? ''"
                  [defaultValue]="question.defaultValue ?? ''"
                  [required]="question.required ?? false"
                />
              </mat-form-field>
            }

            @case (Types.DATE) {
              <mat-form-field>
                <input
                  matInput
                  [formControlName]="question.id"
                  [matDatepicker]="picker"
                  [required]="question.required ?? false"
                  [placeholder]="question.placeholder ?? ''"
                  [defaultValue]="question.defaultValue ?? ''"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            }

            @case (Types.DROPDOWN) {
              <mat-form-field>
                <mat-select
                  [formControlName]="question.id"
                  [required]="question.required ?? false"
                >
                  @for (option of question.options; track $index) {
                    <mat-option [value]="option">{{ option }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }

            @case (Types.SINGLE_CHOICE) {
              <mat-radio-group
                [formControlName]="question.id"
                [required]="question.required ?? false"
              >
                @for (option of question.options; track $index) {
                  <mat-radio-button [value]="option">{{
                    option
                  }}</mat-radio-button>
                }
              </mat-radio-group>
            }

            @case (Types.MULTIPLE_CHOICE) {
              <div [formGroupName]="question.id">
                <ul>
                  @for (
                    option of question.options;
                    let index = $index;
                    track $index
                  ) {
                    <li>
                      <mat-checkbox
                        [formControlName]="index"
                        [value]="option"
                        >{{ option }}</mat-checkbox
                      >
                    </li>
                  }
                </ul>
              </div>
            }

            @case (Types.TEXT_BOX) {
              <mat-form-field>
                <textarea
                  matInput
                  [formControlName]="question.id"
                  [placeholder]="question.placeholder ?? ''"
                  [defaultValue]="question.defaultValue ?? ''"
                  [required]="question.required ?? false"
                ></textarea>
              </mat-form-field>
            }

            @case (Types.COMMENT) {
              <label>{{ question.label }}</label>
            }
          }
        </div>
      }
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
</div>
