<mat-toolbar color="primary" class="app-header">
  <span class="spacer"></span>
  <nav class="main-nav">
    <a mat-button routerLink="/home" routerLinkActive="active-link">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button routerLink="/editor" routerLinkActive="active-link">
      <mat-icon>edit_note</mat-icon> Form Editor
    </a>
    <a mat-button routerLink="/user-management" routerLinkActive="active-link">
      <mat-icon>group</mat-icon> User Management
    </a>
  </nav>

  <button mat-button color="accent" (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-toolbar>
