@if (isFormGenerating()) {
  <div class="loading-spinner-overlay">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Generating Form, please wait...</p>
  </div>
}
<div class="template-container">
  <forms-ai-item-list />
  <div class="form-editor">
    <div class="ai-text-area">
      <mat-form-field appearance="outline">
        <mat-label>Please enter your form description</mat-label>
        <textarea matInput [(ngModel)]="prompt"></textarea>
      </mat-form-field>
      <button mat-button (click)="generateForm()">Generate Form</button>
    </div>
    <div
      class="drop-area"
      cdkDropList
      id="formEditor"
      [cdkDropListData]="questions()"
      (cdkDropListDropped)="onDrop($event)"
    >
      <mat-form-field class="form-title" appearance="outline">
        <input
          matInput
          [(ngModel)]="templateTitle"
          placeholder="Please enter your desired form name"
        />
      </mat-form-field>
      @for (question of questions(); track $index) {
        <forms-ai-template-question
          cdkDrag
          [question]="question"
          [cdkDragData]="question"
          (deleteClicked)="deleteQuestion($index)"
        ></forms-ai-template-question>
      }
    </div>
    <div class="button-container">
      <button mat-stroked-button (click)="saveTemplate()">Save as template</button>
      <button mat-flat-button (click)="openFormExportDialog()">
        Export the form
      </button>
    </div>
  </div>
</div>
