::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.form-question {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  .question-icon {
    border: none;
    border-radius: 0.75rem;
    background-color: #d7e3ff;
    color: #00458f;
    &:hover {
      background-color: #c0d4ff;
    }
    &.sort-handle {
      cursor: grab;
    }
    &.delete-icon {
      color: red;
      background-color: transparent;
      border: 1px solid red;
      &:hover {
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }
  .icon-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .question-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  mat-radio-group {
    display: flex;
    flex-direction: column;
  }
}
