<div class="form-question">
  <button class="question-icon sort-handle" cdkDragHandle>
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <div class="question-input">
    <mat-form-field appearance="outline">
      <mat-label>{{
        question().type === Types.COMMENT ? 'Comment' : 'Question'
      }}</mat-label>
      <input
        matInput
        [(ngModel)]="question().label"
        [required]="question().required ?? false"
      />
    </mat-form-field>
    @switch (question().type) {
      @case (Types.TEXT) {
        <mat-form-field appearance="fill">
          <input
            matInput
            [(ngModel)]="question().defaultValue"
            [placeholder]="question().placeholder ?? ''"
          />
        </mat-form-field>
      }
      @case (Types.NUMBER) {
        <mat-form-field appearance="fill">
          <input
            matInput
            type="number"
            [(ngModel)]="question().defaultValue"
            [placeholder]="question().placeholder ?? ''"
          />
        </mat-form-field>
      }
      @case (Types.SINGLE_CHOICE) {
        <mat-radio-group>
          @for (option of question().options; track $index) {
            <mat-radio-button>{{ option }}</mat-radio-button>
          }
        </mat-radio-group>
      }
      @case (Types.MULTIPLE_CHOICE) {
        <ul>
          @for (option of question().options; track $index) {
            <li>
              <mat-checkbox>{{ option }}</mat-checkbox>
            </li>
          }
        </ul>
      }
      @case (Types.DATE) {
        <mat-form-field appearance="fill">
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="question().defaultValue"
            [placeholder]="question().placeholder ?? ''"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      }
      @case (Types.TEXT_BOX) {
        <mat-form-field appearance="fill">
          <textarea
            matInput
            [(ngModel)]="question().defaultValue"
            [placeholder]="question().placeholder ?? ''"
          ></textarea>
        </mat-form-field>
      }
      @case (Types.DROPDOWN) {
        <mat-form-field appearance="fill">
          <mat-select>
            @for (option of question().options; track $index) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @case (Types.COMMENT) {}
    }
  </div>
  <div class="icon-group">
    @if (question().type !== Types.COMMENT) {
      <button class="question-icon" (click)="openPropertiesEditor()">
        <mat-icon fontIcon="settings"></mat-icon>
      </button>
    }
    <button class="question-icon delete-icon" (click)="deleteQuestion()">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>
